<h2>Uploads multiple image</h2>
<form asp-controller="FileUpload" asp-action="Uploads" method="post" enctype="multipart/form-data">
    <input class="form-control mb-3" type="file" name="postedFiles" accept="image/*" multiple />
    <input type="submit" value="Upload" class="btn btn-primary" />
</form>

<h2 class="mt-4">Upload image</h2>
<form asp-controller="FileUpload" asp-action="UploadImg" method="post" enctype="multipart/form-data">
    <input class="form-control mb-3" type="file" name="postedFile" accept="image/*" />
    <input type="submit" value="Upload" class="btn btn-primary" />
</form>

<h2 class="mt-4">Upload image ajax</h2>
<div>
    <img id="loadImg" class="img-thumbnail" alt="Load img" />
    <input class="form-control mb-3" type="file" id="postedFile" name="postedFile" accept="image/*" onchange="loadFile(event)" />
    <input type="submit" value="Upload" class="btn btn-primary" onclick="uploadFiles();" />
</div>


@section Scripts{
    <script>
        function loadFile (event) {
            var output = document.getElementById('loadImg');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src)
            }
        };

        function uploadFiles() {
            var files = $('#postedFile').prop('files');
            var postedFile = new FormData();

            for (var i = 0; i != files.length; i++) {
                postedFile.append("postedFiles", files[i]);
            }

            console.log(postedFile);

            $.ajax(
                {
                    url: "/FileUpload/Uploads",
                    data: postedFile,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        console.log(data);
                        alert("Files Uploaded!");
                    }
                }
            );
        }
    </script>
 }

@*<h2 class="mt-4">Import excel</h2>
<form asp-controller="FileUpload" asp-action="Import" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile" />
    <input type="submit" value="Import" />
</form>*@