html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dt-buttons{
    display: none;
}

.ui-autocomplete {
    z-index: 10000 !important;
}

.ui-autocomplete-input {
    z-index: 1100 !important;
}