@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <div class="col-md-8">
        <h2>Bài viết sản phẩm</h2>
    </div>
    <div class="col-md-4 text-end">
        <a class="btn" asp-action="Index">
            <i class="bi bi-arrow-clockwise"></i>
        </a>
    </div>
    <div class="col-md-12 text-end mb-3">
        <a class="btn btn-success" onclick="openAddForm()">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </a>
    </div>

    <div class="offcanvas offcanvas-end" id="offcanvasForm" aria-labelledby="offcanvasFormLabel" style="width: 800px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-primary" id="offcanvasFormLabel">Thêm mới</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form id="form" class="row" novalidate>
                <div class="col-md-12 mb-2">
                    <label class="control-label">Sản phẩm</label>
                    <input id="ProductPostId" class="form-control" type="hidden" />
                    <select id="ProductId" class="form-control" asp-items="ViewBag.ProductsList" required></select>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="control-label">Người viết</label>
                    <select id="AuthorId" class="form-control" asp-items="ViewBag.UsersList" required></select>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="control-label">Ảnh bìa</label>
                    <input id="CoverImg" class="form-control" />

                </div>
                <div class="col-md-12 mb-2">
                    <label class="control-label">Nội dung</label>
                    <textarea id="Content" class="form-control"></textarea>
                </div>
                
                <div class="form-group">
                    <button id="btnSubmit" class="btn btn-primary">Thêm</button>
                </div>
            </form>
            <button id="btnActive" class="btn btn-warning" onclick="handleDelete(1)"><i class="bi bi-play-fill"></i> Ngưng xóa</button>
        </div>
    </div>

    <div class="col-md-12">
        <div class="table-responsive" style="width: 100%">
            <table id="Product-Table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Người viết</th>
                        <th>Ảnh</th>
                        <th>Nội Dung</th>
                        <th>Trạng thái</th>
                        <th>Ngày viết</th>
                        <th class="text-end">Thao tác</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                    <button type="button" class="btn btn-danger" onclick="handleDelete(0)">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        var dataTable;
        var isEdit = false;
        var deleteItemId = "";
        var form = $('#form')[0];
        var offcanvasForm = new bootstrap.Offcanvas($('#offcanvasForm'));

        $(document).ready(function () {
            dataTable = $("#Product-Table").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "ordering": false,
                "ajax": {
                    "url": "/ProductPost/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "product.productName" },
                    { "data": "author.fullName" },
                    { "data": "coverImg" },
                    { "data": "content" },
                    { "data": "status", "render": (data) => data ? 'Sẵn sàng' : 'Xóa' },
                    {
                        "data": "createdDate",
                        "render": (data) => new Date(data).toLocaleDateString('en-GB')
                    },
                    {
                        "render": (data, type, row, meta) => {
                            return `<a class="btn btn-outline-info" onclick="openDetailForm('${row.id}')"><i class="bi bi-eye"></i></a>
                                                    <a class="btn btn-primary" onclick="openEditForm('${row.id}')"><i class="bi bi-pencil-square"></i></a>
                                                    <a class="btn btn-danger" onclick="openDeleteModal('${row.id}')" ><i class="bi bi-trash"></i></a>`
                        },
                        "class": "text-end"
                    },
                ],
                "responsive": true,
                "language": {
                    "emptyTable": "No data found"
                },
            });


            form.addEventListener('submit', event => {
                event.preventDefault()
                if (!form.checkValidity()) {
                    event.stopPropagation()
                    notyf.error('Vui lòng nhập đầy đủ thông tin.');
                } else {
                    handleSave()
                }
                form.classList.add('was-validated')
            }, false)
        });


        function openAddForm() {
            resetForm()
            isEdit = false;
            $('#btnSubmit').show().text("Thêm");
            $('#btnActive').hide();
            disableValueForm(false);
            offcanvasForm.show();
        }

        function openEditForm(id) {
            isEdit = true;
            $('#btnSubmit').show().text("Cập nhật");
            disableValueForm(false);
            getDetailValue(id)
            offcanvasForm.show();
            deleteItemId = id;
        }

        function openDetailForm(id) {
            isEdit = false;
            $('#btnSubmit').hide();
            $('#btnActive').hide();
            disableValueForm(true);
            getDetailValue(id)
            offcanvasForm.show();
        }

        function resetForm() {
            $('#form')[0].reset();
            var elems = document.querySelectorAll(".text-danger");
            elems.forEach(itm => {
                document.getElementById(itm.id).innerHTML = ''
            })
        }

        function disableValueForm(disabled) {
            $('#ProductId').prop("disabled", disabled);
            $('#AuthorId').prop("disabled", disabled);
            $('#CoverImg').prop("disabled", disabled);
            $('#Content').prop("disabled", disabled);
        }

        function openDeleteModal(id) {
            $('#deleteModal').modal("show");
            deleteItemId = id;
        }

        function getDetailValue(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Details","ProductPost")/' + id,
                success: function (data) {
                    $('#offcanvasFormLabel').text("Chi tiết");
                    $('#ProductPostId').val(data.data.id);
                    $('#ProductId').val(data.data.productId);
                    $('#AuthorId').val(data.data.authorId);
                    $('#CoverImg').val(data.data.coverImg);
                    $('#Content').val(data.data.content);

                    console.log(data);
                    if (!data.data.status && isEdit) {
                        $('#btnActive').show();
                    } else {
                        $('#btnActive').hide();
                    }
                }
            });
        }

        function handleSave() {
            var data = {
                Id: $('#ProductPostId').val(),
                ProductId: $('#ProductId').val(),
                AuthorId: $('#AuthorId').val(),
                CoverImg: $('#CoverImg').val(),
                Content: $('#Content').val(),
            };

            if (isEdit) {
                $.post("/ProductPost/Edit", { productPost: data }, (data) => {
                    if (data.isSuccess) {
                        notyf.success('Cập nhật dữ liệu thành công.');
                        dataTable.ajax.reload();
                        offcanvasForm.hide();
                    } else {
                        notyf.error('Có lỗi xảy ra.');
                    }
                });
            } else {
                $.post("/ProductPost/Create", { productPost: data }, (data) => {
                    if (data.isSuccess) {
                        notyf.success('Thêm dữ liệu thành công.');
                        dataTable.ajax.reload();
                        offcanvasForm.hide();
                    } else {
                        notyf.error('Có lỗi xảy ra.');
                    }
                });
            }
        }

        function handleDelete(status) {
            $.ajax({
                type: "POST",
                url: 'ProductPost/Delete/' + deleteItemId + '?status=' + status,
                success: function (data) {
                    if (data.isSuccess) {
                        dataTable.ajax.reload();
                        notyf.success('Cập nhật trạng thái thành công.');
                        $('#deleteModal').modal("hide");
                        offcanvasForm.hide();
                    } else {
                        notyf.error('Có lỗi xảy ra.');
                    }
                }
            });
        }

    </script>
}
