@{
    ViewData["Title"] = "Categories";
}

<div class="row">
    <div class="col-md-8">
        <h2>Danh sách Danh mục</h2>
    </div>
    <div class="col-md-4 text-end">
        <a class="btn" asp-action="Index">
            <i class="bi bi-arrow-clockwise"></i>
        </a>
    </div>
    <div class="col-md-4 mb-3">
        <form asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8 text-end">
        <button class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForm" onclick="openAddForm()">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </button>
    </div>

    <div class="offcanvas offcanvas-end" id="offcanvasForm" aria-labelledby="offcanvasFormLabel" style="max-width: 800px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-primary" id="offcanvasFormLabel">Thêm mới</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form id="form">
                <div class="form-group mb-3">
                    <label class="control-label">Tên danh mục</label>
                    <input id="CategoryId" type="hidden" />
                    <input id="CategoryName" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Mô tả</label>
                    <input id="Description" class="form-control" />
                </div>
                <div class="form-group">
                    <button id="btnSubmit" class="btn btn-primary" data-bs-dismiss="offcanvas">Thêm</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-12">
        <div class="table-responsive" style="width: 100%">
            <table id="Category-Table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mã danh mục</th>
                        <th>Tên danh mục</th>
                        <th>Mô tả</th>
                        <th class="text-end">Thao tác</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay lại</button>
                    <button type="button" class="btn btn-danger" onclick="handleDelete()">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        var Popup, dataTable;
        var isEdit = false;
        var deleteItemId = "";

        $(document).ready(function () {
            dataTable = $("#Category-Table").DataTable({
                "processing": true, 
                "serverSide": true, 
                "filter": true, 
                "orderMulti": false, 
                "ordering": false,
                "ajax": {
                    "url": "/Category/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "categoryName" },
                    { "data": "description" },
                    {
                        "render": function (data, type, row, meta) {
                            return `
                                                <a class="btn btn-outline-info" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForm" onclick="openDetailForm('${row.id}')"><i class="bi bi-eye"></i></a>
                                                <a class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForm" onclick="openEditForm('${row.id}')"><i class="bi bi-pencil-square"></i></a>
                                                <a class="btn btn-danger" onclick="openDeleteModal('${row.id}')" ><i class="bi bi-trash"></i></a>
                                            `
                        },
                        "class": "text-end"
                    },
                ],

                "language": {
                    "emptyTable": "No data found"
                },
            });
        });

        $('#form').on('submit', (e) => {
            e.preventDefault();
            hanleSave();
        })

        function openAddForm() {
            isEdit = false;
            $('#btnSubmit').show().text("Thêm")
            $('#CategoryId').val("");
            $('#CategoryName').val("").prop("disabled", false);
            $('#Description').val("").prop("disabled", false);
        }

        function openEditForm(id) {
            isEdit = true;
            $('#btnSubmit').show();
            $('#btnSubmit').text("Cập nhật");
            $('#CategoryName').prop("disabled", false);
            $('#Description').prop("disabled", false);
            getDetailValue(id)
        }

        function openDetailForm(id) {
            $('#btnSubmit').hide();
            $('#CategoryName').prop("disabled", true);
            $('#Description').prop("disabled", true);
            getDetailValue(id)
        }

        function openDeleteModal(id) {
            $('#deleteModal').modal("show");
            deleteItemId = id;
        }

        function getDetailValue(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Details","Category")/' + id,
                success: function (data) {
                    $('#offcanvasFormLabel').text("Chi tiết");
                    $('#CategoryId').val(data.data.id);
                    $('#CategoryName').val(data.data.categoryName);
                    $('#Description').val(data.data.description);
                }
            });
        }

        function hanleSave() {
            var data = {
                Id: $('#CategoryId').val(),
                CategoryName: $('#CategoryName').val(),
                Description: $('#Description').val(),
            };
            if (isEdit) {
                $.post("/Category/Edit", { category: data }, (data) => {
                    if (data.isSuccess) {
                        notyf.success('Cập nhật dữ liệu thành công.');
                        dataTable.ajax.reload();
                    } else {
                        notyf.error('Có lỗi xảy ra.');
                    }
                });
            } else {
                $.post("/Category/Create", { category: data }, (data) => {
                    if (data.isSuccess) {
                        notyf.success('Thêm dữ liệu thành công.');
                        dataTable.ajax.reload();
                    } else {
                        notyf.error('Có lỗi xảy ra.');
                    }
                });
            }
        }

        function handleDelete() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete","Category")/' + deleteItemId,
                success: function (data) {
                    if (data.isSuccess) {
                        dataTable.ajax.reload();
                        notyf.success('Xóa dữ liệu thành công.');
                        $('#deleteModal').modal("hide");
                    } else {
                        notyf.error('Có lỗi xảy ra.');
                    }
                }
            });
        }

    </script>
}
