@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Category>
@{
    ViewData["Title"] = "Categories";
    var dummy = Model.FirstOrDefault();
}

<div class="row">
    <div class="col-md-8">
        <h2>Danh sách Danh mục</h2>
    </div>
    <div class="col-md-4 text-end">
        <a class="btn" asp-action="Index">
            <i class="bi bi-arrow-clockwise"></i>
        </a>
    </div>
    <div class="col-md-4 mb-3">
        <form asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Tìm kiếm" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8 text-end">
        <button class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </button>
    </div>

    <div class="offcanvas offcanvas-end" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="max-width: 800px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title text-primary" id="offcanvasExampleLabel">Thêm mới</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form id="form">
                <div class="form-group mb-3">
                    <label class="control-label">Tên danh mục</label>
                    <input id="CategoryName" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label class="control-label">Mô tả</label>
                    <input id="Description" class="form-control" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" data-bs-dismiss="offcanvas">Thêm</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-12">
        <table id="Category-Table" class="table table-bordered" style="width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CategoryName</th>
                    <th>Description</th>
                    <th class="text-end">Thao tác</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script>

        var Popup, dataTable;

        $(document).ready(function () {
            dataTable = $("#Category-Table").DataTable({
                "ajax": {
                    "url": "/Category/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id" },
                    { "data": "categoryName" },
                    { "data": "description" },
                    {
                        "render": function (data, row) {
                            return `
                                        <a class="btn btn-outline-info"><i class="bi bi-eye"></i></a>
                                        <a class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                        <a class="btn btn-danger" onclick="handleDelete(${data})"><i class="bi bi-trash"></i></a>
                                    `
                        },
                        "class": "text-end"
                    },
                ],

                "language": {
                    "emptyTable": "No data found"
                },
            });
        });



        $('#form').on('submit', (e) => {
            e.preventDefault();
            hanleAdd();
        })

        function hanleAdd() {
            var data = {
                CategoryName: $('#CategoryName').val(),
                Description: $('#Description').val(),
            };

            $.post("/Category/Create", { category: data }, () => { location.replace('/Category') });
        }

        function handleDelete(id) {
            console.log(id)
            if (confirm('Are you sure to Delete this record ?')) {

                //$.ajax({
                //    type: "POST",
                //    url: '@Url.Action("Delete","Category")/' + id,
                //    success: function (data) {
                //        if (data.success) {
                //            dataTable.ajax.reload();
                //            $.notify(data.message, {
                //                globalPosition: "top center",
                //                className: "success"
                //            })

                //        }
                //    }
                //});
            }
        }

    </script>
}
